.gritter-success .gritter-item,
.gritter-success .gritter-bottom,
.gritter-success .gritter-top{
	border-radius: 10px;
	background: #30c203;
    color: #fff;
}
.gritter-success .gritter-title {
    text-shadow: none;
}

.show_message{
	float: right !important;
	color: #ff0000 !important;
	background: #FFFF9D !important;
	display: none;
}
.mendatory1{
    color: #ff0000;
}
.spanleft_{
	text-align: left !important;
}