.gritter-success .gritter-item,
.gritter-success .gritter-bottom,
.gritter-success .gritter-top{
	border-radius: 10px;
	background: #30c203;
    color: #fff;
}
.gritter-success .gritter-title {
    text-shadow: none;
}

.show_message{
	float: right !important;
	color: #ff0000 !important;
	background: #FFFF9D !important;
	display: none;
}
.mendatory1{
    color: #ff0000;
}
.spanleft_{
	text-align: left !important;
}
.dashboard-session-color{
	color: #900000;
}
._no_{
	color: #ff0000;
	cursor: pointer;
}
._yes_{
	color: #009000;
	cursor: pointer;
}
.inTotalClasses{
	cursor: pointer;
}
.view_invoice_0{
     color: #ff0000;
     background: #f0f0f0;
     border-radius: 4px;
     border: #A0A0A0 solid 1px;
     padding: 1px 5px;
     text-decoration: none !important;
}
.view_invoice_1{
     color: #B0B0B0; 
     background: #ffff00;
     color: #ff0000;
     border-radius: 4px;
     border: #A0A0A0 solid 1px;
     padding: 1px 5px;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.discount_lable{
    background: #D9F3FF;
    border: #202020 dotted 1px;
    border-radius: 5px;
    color: #033C78;
    font-size: 10px;
    float: left;
    padding: 0px 2px;
    margin: 2px;
}
.curr_class{
    background: #ffff00; 
    color: #0000EE; 
    padding: 0px 3px;
    border-radius: 5px;
    border: #e0e0e0 solid 1px;
}
.zero_receipt{
    color: #0000ff; 
    background: #FEF8F5;
    border-radius: 4px;
    border: #A0A0A0 solid 1px;
    padding: 1px 10px;
}